body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}
.navbar{
    font-size: 12px;
    display: flex;
    color: black;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    padding: 15px 5%;
    background-color:white;
    
}
.work{
    padding-right: 20px;
    text-decoration: none;
    color: black;
}
.blog{
    padding-right: 20px;
    text-decoration: none;
    color: black;
}
.account{
    padding-right: 20px;
    text-decoration: none;
    color: black;
}
#top{
    height: 700px;
    background-color: hsl(256, 26%, 20%);
    margin-bottom: 17%;
}
.left-bg{
    position: absolute  ;
    left: 0;
    top: 500px;
}
.right-bg{
    position: absolute;
   right: 0;
}
.row{
    display: flex;
}
.column1{
    flex: 50%;
    padding: 5% 10%;
}
.column{
    flex: 50%;
    padding: 10%;
}
.intro-image{
    position: absolute;
    
}
.intro-text{
    font-size: 5rem;
    color: white;
    font-family: DM Serif Display;
    font-weight: 400;
    margin-bottom: 30px;
}
.intro-about{
    color: white;
    line-height: 2;
}
.top-hr{
    width: 50%;
    left: 0;
    margin-left: 0;
}
.s_button{
    padding: 10px 15px;
    border: solid;
    border-width: 2px;
    background-color: white;
    border-color: hsl(256, 26%, 20%);
    color: hsl(256, 26%, 20%);
}
.s_button:hover{
    background-color: hsl(256, 26%, 20%);
    border-color: white;
    color: white;
}
.ss_button{
    background-color: hsl(256, 26%, 20%);
    color: white;
    border: solid;
    border-width: 2px;
    border-color: white;
    padding: 10px 15px;
    font-weight: 500;
    
}
.ss_button:hover{
    background-color: white;
    border-color: hsl(256, 26%, 20%);
    color: hsl(256, 26%, 20%);
    cursor: pointer;

}
#mid{
    padding: 5% 10%;
    position: relative;
}
.mid-hr{
    width: 10%;
    color: hsl(256, 26%, 20%);
    margin-left: 0;
}
.mid-text{
    font-family: DM Serif Display;
    font-weight: 700;
    font-size: 4.5rem;
    color: hsl(256, 26%, 20%);
}
.column-mid{
    margin-top: 2.5%;
    flex: 50%;
    font-family: DM Serif Display;
    font-size: 1.5rem;
    color: hsl(256, 26%, 20%);
}
.column-mid-text{
    font-size: 1.3rem;
    padding-right: 50px;
    color: hsl(273, 4%, 51%);
}
.find{
    margin-top: 10%;
    padding: 0;
    background-color: hsl(256, 26%, 20%);
    background-image: linear-gradient(to right,hsl(256,26%,20%),white);
    color: white;
}
.find-text{
    font-size: 3rem;
    margin-left: 50px;
    font-weight: 400;
    padding-right: 25%;
    margin-top: 60px;
    font-family: DM Serif Display;
    
}
.column-find{
    
    padding: 0%;
    flex: 50%;
    align-items: center;
}
.column-find2{
    flex: 50%;
    padding: 0;
}
.howwe-img{
    float: right;
    
}
.btn{
    position: absolute;
    margin-left: 20%;
    margin-top: 100px;
    background-color: transparent;
}
#bottom{
    
    background-color: hsl(0, 0%, 98%);
    
}
.footer-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.5% 10%;
}
.social-icon{
    padding-right: 10px;
}
.social-icon:hover{
   
    cursor: pointer;
}
.footer-about{
    margin: 2% auto 0;
    width: 80%;
    border-top: solid;
    border-width: 2px;
    border-color: black;
    box-sizing: border-box;
}
.column-footer{
    padding: 2%;

}
ul{
    list-style: none;
}
.head-about-footer{
    margin-bottom: 5%;
    font-size: 1rem;
}
li{
    font-size: 0.8rem;
    margin-bottom: 1.5%;
}
@media (max-width:1100px){
    #top{
        position: relative;
    }
    .row{
        display: block;
        padding: 10%;
    }
    .column{
        padding: 0;
    }
    .column1{
    }
    .intro-image{
        width: 100%;
        position: relative;
    }
    .right-bg{
        width: 30%;
    }
    .left-bg{
        visibility: hidden;
    }

}
